# Copyright 2025 fsyyft-go
# 
# Licensed under the MIT License. See LICENSE file in the project root for full license information.

# 如果您更倾向于使用允许列表模板而不是拒绝列表，请参考社区模板：
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore。

# 程序和插件的二进制文件。
*.exe
*.exe~
*.dll
*.so
*.dylib
bin/
out/

# 使用 `go test -c` 命令构建的测试二进制文件。
*.test

# 使用 LiteIDE 时 go coverage 工具生成的覆盖率文件。
*.out

# 依赖目录（取消下面的注释以包含它）。
# vendor/

# Go 工作区文件。
go.work
go.work.sum

# 环境配置文件。
.env

# 日志文件。
*.log

# Visual Studio Code 配置目录。
.vscode/
.idea/

# 操作系统的一些临时文件。
.DS_Store